{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
{% endblock %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <h1>Création d'une formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('formation_index') }}">Retour</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset("js/bootstrap-datepicker.fr.min.js") }}"></script>
    <script>
        $(document).ready(function() {
            $.fn.datepicker.defaults.language = 'fr';
            $('.js-datepicker').datepicker();
        });
    </script>
{% endblock %}
