{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Portfolio</h1>

    <div class="container">

        {% for image in images %}
                <img src="{{asset(image.imgPath)}}" class="img-thumbnail" style="width:150px;height:auto;" title="{{ image.alternative }}"/>
                    <div class="row">

                    <a href="{{ path('image_show', {'id': image.id}) }}">show</a>

                    <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a>

                    </div>
        {% else %}

               no records found

        {% endfor %}
    </div>

    <a href="{{ path('image_new') }}">Create new</a>
{% endblock %}
