{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
<h1>Portfolio</h1>

<div class="container">
    <h4>Options</h4>
    <a class="btn btn-primary btn-sm" href="{{ path('image_activated') }}" role="button">Images commentées
    <i class="fas fa-list-alt"></i>
    </a>
    <a class="btn btn-primary btn-sm" href="{{ path('image_index') }}" role="button">Toutes les images
    <i class="fas fa-list-alt"></i>
    </a>
    <a class="btn btn-danger btn-sm" href="{{ path('image_pending') }}" role="button">Images en attente
    <i class="fas fa-list-alt"></i>
    </a>
    <a class="btn btn-success btn-sm" href="{{ path('image_allowed') }}" role="button">Images autorisées
    <i class="fas fa-list-alt"></i>
    </a>
    <a class="btn btn-warning btn-sm" href="{{ path('image_order_high') }}" role="button">
    <i class="fas fa-sort-up"></i>
    </a>
    <a class="btn btn-warning btn-sm" href="{{ path('image_order_low') }}" role="button">
    <i class="fas fa-sort-down"></i>
    </a>
    <hr>
    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Preview</th>
        <th scope="col">Type</th>
        <th scope="col">Autorisation</th>
        <th scope="col">Titre/Description</th>
        <th scope="col">Crée le </th>
        <th scope="col">Actions</th>
        <th scope="col">Montrer</th>
        <th scope="col">Edition</th>
        </tr>
    </thead>
    <tbody>
    {% for image in images %}
        <tr>
            <td>{{ image.id }}</td>
            <td><img src="{{ asset(image.imgPath) }}" style="width:150px;height:auto;" class="img-thumbnail"/></td>
            <td>type de l'image</td>
            <td>{% if image.allowed %} <p style="color:green;">Oui</p> {% else %} <p style="color:red;">Non</p>{% endif %}</td>
            <td> {{image.alternative}} </td>
            <td>{{ image.createdAt | date }}</td>
            <td><a class="btn btn-success" href="{{ path('image_allow', {'id': image.id}) }}">allow</a></td>
            <td>
                <a class="btn btn-warning"href="{{ path('image_show', {'id': image.id}) }}">show</a>
            </td>
            <td>
                <a class="btn btn-primary" href="{{ path('image_edit', {'id': image.id}) }}">edit</a>
            </td>
        </tr>
    
{% else %}

no records found

{% endfor %}
</tbody>
    </table>
    
</div>

<div style="display:flex; justify-content:center;">
    {{ knp_pagination_render(images) }}
    </div>

<a href="{{ path('image_new') }}">Create new</a>
{% endblock %}
