{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}


    <h1>Bienvenue sur Fenrir Studio !</h1>

    <p>Espace administrateur !</p>

<div class="container">
    <div class="row">
       <img src="{{ asset('img/icon.png')}}"/> 
    </div>
    <div class="row">
        <ul>
            <li>
            Actualités : {{ actus | length }}
            </li>
            
            <li>
            Formations : {{ formations | length }}
            </li>
            
            <li>
            Events : {{ events | length }}
            </li>
        
            <li>
            Images : {{ images | length }}
            </li>
        </ul>
    </div>
</div>


{% endblock %}


{% block stylesheets %}

{% endblock %}


{% block javascripts %}

{% endblock %}