{% extends 'base.html.twig' %}

{% block title %}Actu index{% endblock %}

{% block body %}
    <h1>Actualités</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Edition/Suppression</th>
            </tr>
        </thead>
        <tbody>
        {% for actu in actus %}
            <tr>
                <td>{{ actu.id }}</td>
                <td>{{ actu.title }}</td>
                <td>{% autoescape %} {{ actu.content|raw }} {% endautoescape %}</td>
                <td style="display:flex; justify-content: space-evenly;">
                    <a href="{{ path('actu_edit', {'id': actu.id}) }}">
                        <button class="btn-primary" style="width:30px;height:30px;">
                            <i class="fas fa-edit"></i>
                        </button>
                    </a>
                    {{ include('actu/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success mb-5"  href="{{ path('actu_new') }}"><i class="fas fa-plus-square"></i></a>
{% endblock %}
