{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Gestion des utilisateurs</h1>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom d'utilisateur</th>
                <th>Adresse Mail</th>
                <th>Role</th>
                <th>Photo de profil</th>
                <th>Adhérent ?</th>
                <th>Passer administrateur ?</th>
                <th>Passer formateur ?</th>
                <th>Passer adhérent ?</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><p style="color:black;font-weight:bold;">{{ user.username }}</p></td>
                <td><p style="color:red;font-weight:bold;">{{ user.email }}</p></td>
                <td> 
                
                 {% if user.hasRole('ROLE_ADMIN') %}
                 <p>Administrateur</p>
                 {% else %}
                 <p>Utilisateur</p>
                 {% endif %}
                 </td>
                <td>{% if user.profilePicture %} <img style="width:50px;height:50px;" src="{{ asset(user.profilePicture.imgPath)}}"/> {% endif %} </td>
                <td>{% if user.adherent %}<p style="color:green">Oui</p>{% else %}
                <p style="color:red">Non</p>{% endif %}
                </td>
                <td>
                {% if user.hasRole('ROLE_ADMIN') %}
                {% if user.username == "Admin" %}
                <button class="btn btn-danger" disabled>Aucune action</button>
                {% else %}
                <a class="btn btn-danger"  href="{{ path('user_demote',{'id': user.id})}}">Non</a>
                {% endif %}
                {% endif %}
                {% if user.hasRole('ROLE_USER') and user.hasRole('ROLE_ADMIN') == false %}
                {% if user.username != "Admin" %}
                <a class="btn btn-success" disabled  href="{{ path('user_promote',{'id': user.id})}}">Oui</a>
                {% endif %}
                {% endif %}
                </td>
                <td>
                {% if user.formateur %}
                <a href="{{ path('user_unformer', {'id': user.id } ) }}" class="btn btn-danger">Non</a>
                {% else %}
                <a href="{{ path('user_former', {'id': user.id } ) }}" class="btn btn-success">Oui</a>
                {% endif %}
                </td>
                <td>
                {% if user.adherent %}
                <a href="{{ path('user_unadhere', {'id': user.id } ) }}" class="btn btn-danger">Non</a>
                {% else %}
                <a href="{{ path('user_adhere', {'id': user.id } ) }}" class="btn btn-success">Oui</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
            <hr style="color:black;">
        {% endfor %}
        </tbody>

    </table>
    <div style="display:flex; justify-content:center;">
    
    </div>
{% endblock %}
