{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Gestion des utilisateurs</h1>
    <label for="filterBy">Filter par :</label>
    <select id="filterBy">
    <option value="">--Aucune option choisie--</option>
    <option value="id">ID</option>
    <option value="username">Nom d'utilisateur</option>
    <option value="email">Email</option>
    <option value="custom">Custom</option>
    </select>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom d'utilisateur</th>
                <th>Adresse Mail</th>
                <th>Role</th>
                <th>Photo de profil</th>
                <th>Inscrit ?</th>
                <th>Passer administrateur ?</th>
                <th>Passer formateur ?</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><p style="color:black;font-weight:bold;">{{ user.username }}</p></td>
                <td><p style="color:red;font-weight:bold;">{{ user.email }}</p></td>
                <td> 
                
                 {% if user.hasRole('ROLE_ADMIN') %}
                 <img title="Cet utilisateur a un statut de pseudo administrateur" style="width: 80px;height: 80px;" src="{{ asset('img/gold.png') }}"/>
                 {% else %}
                 <img title="Cet utilisateur a un statut d'utilisateur" style="width:70px;height:70px;" src="{{ asset('img/silver png.png') }}"/>
                 {% endif %}
                 </td>
                <td>{% if user.profilePicture %} <img style="width:50px;height:50px;" src="{{ asset(user.profilePicture.imgPath)}}"/> {% endif %} </td>
                <td>{% if user.enabled %}<p style="color:green">Oui</p>{% else %}
                <a class="btn-success" href="{{ path('user_confirm')}}">Confirmer l'utilisateur</a>{% endif %}</td>
                <td>
                {% if user.hasRole('ROLE_ADMIN') %}
                {% if user.username == "Admin" %}
                <button class="btn btn-danger" disabled>Aucune action</button>
                {% else %}
                <a class="btn btn-danger"  href="{{ path('user_demote',{'id': user.id})}}">Non</a>
                {% endif %}
                {% endif %}
                {% if user.hasRole('ROLE_USER') %}
                {% if user.username != "Admin" %}
                <a class="btn btn-success" disabled  href="{{ path('user_promote',{'id': user.id})}}">Oui</a>
                {% endif %}
                {% endif %}
                </td>
                <td>
                {% if user.formateur %}
                <a href="{{ path('user_unformer', {'id': user.id } ) }}" class="btn btn-danger">Non</a>
                {% else %}
                <a href="{{ path('user_former', {'id': user.id } ) }}" class="btn btn-success">Oui</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
            <hr style="color:black;">
        {% endfor %}
        </tbody>

    </table>

{% endblock %}
