<h2>Bonjour Fenrir Studio ! </h2>

    <div>
        <p>{{ user.username }} ({{ user.fname}} {{ user.lname }}) Ne sera pas présent à la formation <b>{{ formation.name }}</b> </p>
        <p>Rappel : la formation en question est censé se dérouler le</p>
        <ul>
            <li>
                {{ formation.hour | date("d/m/Y") }}
            </li>
            <li>
               à {{ formation.time | date("G\\hi") }}
            </li>
        </ul>
    </div>

    <div style="margin-top:30px;">
    <hr>
        <p><b>Fenrir studio</b></p>
        <img src="https://media.licdn.com/dms/image/C4D03AQHsq8EWHOqeNQ/profile-displayphoto-shrink_200_200/0?e=1565827200&v=beta&t=_KU2LU1recHZcH7a_yRtUE6UKZ1LsxP-Kg-qLBfwIUc" style="border-radius:50%;width:50px;height:50px;"/>
        <p><a href="mailto:team.project.orga@gmail.com">team.project.orga@gmail.com</a></p>
        <p>31 Avenue du Maréchal Gallieni, 33700 Mérignac</p>
    </div>
