<h2>Bonjour</h2>

    <div>
        <p>{{ user.username }} ({{ user.fname}} {{ user.lname }}) Vous suggère une formation : {{ formation.name }} </p>
        <p>Vous pouvez vous rendre sur votre <a href="http://admin.fenrir-studio.fr/formation/{{ formation.id}}/edit">espace perso</a> afin d'évaluer la formation et de proposer des horaires adaptés</p>
        <p>Bonne journée</p>
    </div>
